@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #09090b;
  color: white;
  overflow-x: hidden;
}
.particle {
  position: absolute;
  bottom: -20px;
  width: 4px;
  height: 4px;
  border-radius: 999px;
  background: rgba(34, 211, 238, 0.6);

  animation-name: floatParticle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes floatParticle {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}